/*-- Reset-Code --*/

body {
    padding: 0;
    margin: 0;
    background: #FFF;
    font-family: source_sans_prosemibold,-apple-system,blinkmacsystemfont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,arial,helvetica,sans-serif;
}

.phone-link {
    display: none;
}

body a {
    -webkit-transition: 0.7s all;
    -moz-transition: 0.7s all;
    -o-transition: 0.7s all;
    -ms-transition: 0.7s all;
    text-decoration: none;
}

    body a:hover {
        text-decoration: none;
    }

    body a:focus,
    a:hover {
        text-decoration: none;
    }


h1,
h4,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: source_sans_prosemibold,-apple-system,blinkmacsystemfont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,arial,helvetica,sans-serif;
}

p {
    margin: 0;
    line-height: 1.9;
    font-family: source_sans_prosemibold,-apple-system,blinkmacsystemfont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,arial,helvetica,sans-serif;
    font-size: 14px;
}

ul {
    margin: 0;
    padding: 0;
}

label {
    margin: 0;
}

.main-container {
    margin: 0px;
    width: 100%;
    padding: 0px;
}

.nopadding {
    padding: 0px !important;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.nav-button {
    border: none;
    margin-left: 15px;
}

a:focus,
a:hover {
    text-decoration: none;
    outline: none;
}

.explore {
    padding: 40px 0px;
    background-color: #F6F6F6;
}

.feature {
    padding: 40px 0px;
    background-color: #F6F6F6;
}

.grid-sizer,
.grid-item {
    width: 30%;
    margin-bottom: 20px;
}
/* 2 columns */
.grid-item--width2 {
    width: 60%;
}

.padding-right-0 {
    padding-right: 0px;
}

.padding-left-0 {
    padding-left: 0px;
}

.align-centre {
    text-align: center;
}

/*-- //Reset-Code --*/


/*--top nav--*/
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border-radius: 0px;
}

.navbar-default {
    background-color: #fff;
    border: none;
}

.masthead-logo {
    padding: 1em;
    background-color: #ffd900;
}


.navbar-default .navbar-nav > li > a {
    color: #004fb6;
    font-size: 14px;
    letter-spacing: 2px;
    text-align: center;
    font-weight: bold;
}

    .navbar-default .navbar-nav > li > a > fa {
        font-size: 16px;
    }

    .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
        color: #004fb6;
        background-color: transparent;
    }


.effect-3 {
    overflow: hidden;
}

    .effect-3:before {
        left: -1px;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: #ffd900;
        content: '';
        position: absolute;
        transition: transform 0.5s ease;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
    }

    .effect-3:hover:before {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        -ms-transform: translateX(0);
    }

.navbar-default .navbar-nav > .active > a:before {
    background: #ffd900;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #08ada7;
    background: none;
}

.nav > li {
    position: relative;
    margin: 0 5px;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: rgb(51, 51, 51);
    background-color: transparent;
}
/*--banner--*/




/*--Explore--*/

.explore-info h4 {
    margin: 0;
    text-shadow: 2px 2px 2px rgba(16, 16, 16, 0.45);
    font-weight: 200;
}

.explore-content {
    padding-top: 40px;
}

label {
    width: 10%;
    height: 4px;
    background: #8c8f96;
}

.background-mobile {
    background-image: url("../images/mobile.png");
    background-position: right top;
    background-repeat: no-repeat;
    height: 200px;
    right: -15px;
    bottom: -15px;
}


.explore-info p {
    letter-spacing: 1px;
    font-size: 13px;
    margin-top: 7px;
}

.card-1 {
    padding: 15px;
    /*background-color: #F6F6F6;*/
    background-color: white;
}

.card-2 {
    background-color: #ffd900;
    text-align: center;
    height: 230px;
}

    .card-2 span {
        display: inline-block;
    }

.card-3 {
    padding: 0px;
}

    .card-3 img {
        height: auto !important;
        width: 100% !important;
    }

.card-3-base {
    background-color: #ffd900;
    text-align: center;
    color: #004fb6;
}

    .card-3-base span {
        display: inline-block;
        padding: 20px 0px;
        font-weight: bold;
        width: 100%;
    }

        .card-3-base span i {
            float: right;
            color: #004fb6;
            background-color: white;
            border: 5px solid white;
            border-radius: 50px;
        }

.card-4-parent {
    text-align: center;
    background-color: #004fb6;
    height: 325px;
}

.card-4 {
    text-align: center;
    background-color: #004fb6;
    color: white;
}

.card-4-border-top {
    border-top: 0.5px solid white;
    padding-top: 10px;
    margin-top: 15px;
}

    .card-4-border-top i {
        color: #004fb6;
        background-color: white;
        border: 5px solid white;
        border-radius: 50px;
        margin-right: 5px;
        margin-left: 5px;
    }

.horizontal-centre {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.card-5 {
    background-color: #ffd900;
    text-align: center;
    height: 360px;
}

.card-5-button {
    margin-top: 20px;
    text-align: center;
}

    .card-5-button i {
        color: #004fb6;
        background-color: white;
        border: 5px solid white;
        border-radius: 50px;
    }


.card-6 {
    background-color: #4ca02b;
    text-align: center;
    height: 425px;
    color: white;
}

.card-6-link {
    margin-top: 35%;
    color: white;
}

    .card-6-link a {
        text-decoration: none;
        color: inherit;
        font-weight: bold;
    }

        .card-6-link a:hover {
            color: #004fb6;
            font-weight: bold;
        }

.card-6-text {
    margin-top: 15%;
}

.explore img {
    height: auto;
    width: 100px;
}


/*video*/
.video-row {
    background-image: url("../images/stage-event.jpg");
    background-position: bottom;
    width: 100%;
    height: 300px;
    text-align: center;
    cursor: pointer;
    margin: 0px;
}

    .video-row span {
        display: inline-block;
        color: #4ca02b;
    }

        .video-row span i.fa-3x {
            font-size: 5em;
        }



/*Feature*/
.feature-info h4 {
    margin: 0;
    text-shadow: 2px 2px 2px rgba(16, 16, 16, 0.45);
    font-weight: 200;
}

.feature-info p {
    letter-spacing: 1px;
    font-size: 13px;
    margin-top: 7px;
}

.feature-content {
    padding-top: 40px;
}

.feature-base {
    background-color: white;
    padding: 10px;
}

    .feature-base p {
        color: #004fb6;
    }

.bold {
    font-weight: bold;
}

/*Footer*/
.footer {
    background-color: #333;
    color: #ccc;
    margin: 0;
    overflow: hidden;
    transition: background .35s,color .35s;
    border: 0;
    padding: 25px;
}

.footer-list {
    list-style-type: none;
    margin: 1.25em 0;
    padding: 0;
}

.footer li a {
    color: inherit;
}

.footer-social {
    border: 0.5px solid;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
}

.footer-list li {
    padding-bottom: 6px;
}

.footer .content-container h5 {
    font-weight: bold;
}



/*--top hover--*/

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 2%;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url("../images/arrow.PNG") no-repeat 0px 0px;
}

#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}


/*--/tophover--*/


/*--responsive--*/
@media only screen and (max-width: 767px) {
    .nav-button {
        border: none;
        margin-left: 15px;
    }

    #link-effect-2 > .navbar-right {
        width: 100% !important;
    }

    #link-effect-2 > .navbar-left {
        width: 100% !important;
    }

    .phone-link {
        display: inline-block;
        padding: 15px;
    }
}

@media only screen and (max-width: 590px) {
    .grid-item {
        width: 100% !important;
    }
}
